<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
  select {
    -webkit-appearance: none; /* for Chrome/Safari */
    -moz-appearance: none;    /* for Firefox */
    appearance: none;         /* standard */
    background: none;         /* remove default bg with arrow */
    border: 1px solid #ccc;
    padding: 5px;
  }
  </style>

    <select name="cars" id="cars">
  <option value="bmw">BMW</option>
  <option value="audi">Audi</option>
  <option value="mercedes">Mercedes</option>
  <option value="toyota">Toyota</option>
</select>

</body>
</html>